/* styles.css */
body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  color: #00ff00;
}

button {
  background-color: green;
  color: black;
  padding: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: darkgreen;
}

input {
  padding: 10px;
  background-color: black;
  border: 1px solid #00ff00;
  color: #00ff00;
  margin-bottom: 10px;
}

a {
  color: #00ff00;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.login-container, .chat-container, .admin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.login-box, .chat-box, .admin-header {
  border: 1px solid #00ff00;
  padding: 20px;
  width: 90%;
  max-width: 500px;
  margin-top: 20px;
}

.chat-box {
  margin-top: 20px;
}

.chat-body {
  margin-top: 10px;
  padding: 10px;
  background-color: black;
}

.chat-input {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin-section {
  width: 90%;
  max-width: 500px;
  margin-top: 20px;
}

.room-item, .token-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #00ff00;
}
